html,
body,
#root {
  margin: 0;
  background-image: url('https://wallpapercave.com/wp/wp2903360.jpg');
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Bangers', cursive;
  height: 100%;
}
